/**************************************************
  COLORS
/**************************************************/

$white : #fff;
$main-color : #338FFF;
$darker-main-color : #1C2A33;
$light-grey: rgba(0, 0, 0, 0.13);

/**************************************************
  FONT SIZE
/**************************************************/
$font-size-h2:            54px;
$font-size-h3:            45px;